{% trans_default_domain "ezmailing" %}
{% extends "@ezdesign/mailing_base.html.twig" %}

{% block unregister %}{% endblock %}

{% block body %}
    <h2>{{ "messages.confirm_unregistration.confirmation"|trans }}</h2>

    <p>{{ "messages.confirm_unregistration.process1"|trans }}</p>

    {% if unregistration.mailingLists|length > 1 %}
        <ul>
            {% for mailinglist in unregistration.mailingLists %}
                <li>{{ mailinglist.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{{ url('novaezmailing_unregistration_confirm', {id:token.id}) }}">{{ "messages.confirm_unregistration.process2"|trans }}</a></p>
{% endblock %}
