{% trans_default_domain "ezmailing" %}
{% extends "@ezdesign/mailing_base.html.twig" %}

{% block unregister %}{% endblock %}

{% block body %}
    <h2>{{ "messages.stop_sending.sent1"|trans }} {{ item.name }} {# #{{ item.id }} #} {{ "messages.stop_sending.sent2"|trans }}.</h2>

    <p>{{ "messages.stop_sending.follow_broadcast1"|trans }}
        <a href="{{ url("novaezmailing_mailing_show", { mailing: item.id }) }}#novaezmailing-mailings-stats">{{ "messages.stop_sending.follow_broadcast2"|trans }}</a>.
    </p>
{% endblock %}
